html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

#content_container {
    height: 100%;
    display: flex;
}

.info {
    margin-left: 10px;
    white-space: pre-wrap;
    margin-top: -5px;
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-family: 'Arbutus Slab', serif;
    margin: auto;
}

#side_bar {
    position: relative;
    margin: 10px;
    width: 20%;
    height: 90%;
    background: #ffffff;
    border: 2px solid #000000;
    display: inline-flex;
}

#content {
    position: relative;
    margin: 10px;
    width: 80%;
}

#top_bar {
    height: 20%;
    background: #ffffff;
    border: 2px solid #000000;
    white-space: pre-line;
    display: inline-flex;
    width: 100%;
    margin-bottom: 18px;
}

#documents {
    overflow-y: scroll;
    width: auto;
    height: 200px;
    background: #ffffff;
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
}

#draggable_line {
    width: 100%;
    height: 6px;
    background: #000000;
    position: absolute;

}

#draggable_line:hover {
    background: #628fc1;
    cursor: s-resize;
}

#current_chart {
   /* overflow-y: scroll; */
    width: auto;
    height: 250px;
    background: #ffffff;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    margin-bottom: 18px;
}

#scroll_menu {
    margin-bottom: 15px;
}

#scroll_menu a {
    display: inline-block;
    border: 3px ridge darkorange;
    background: #ffffff;
    width: auto;
    padding: 3px;
    margin: 10px;
}

#textEditor{
    margin: 0 auto;
    width: auto;
    height: 300px;
}

#theRibbon{
    border-bottom: none;
    padding: 10px;
    background-color: #d3d3d3;
    color: black;
    border-radius: 0px 0px 0px 0px;

}

#theRibbon > button{
    color: black;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

#theRibbon > button:hover{
    background-color: rgb(71, 76, 75);
    transition: all 0.3s linear 0s;
}

#richTextArea{
    border: 2px solid rgb(102, 102, 102);
    height: 100%;
    width: 100%;
}

input[type="color"]{
    border: none;
    outline: none;
    background-color: transparent;

}

iframe#theWYSIWYG{
    height: 100%;
    width: 100%;
}
