html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

#content_container {
    height: 100%;
    display: flex;
}

.info {
    margin-left: 10px;
    white-space: pre-wrap;
    margin-top: -5px;
}

#side_bar {
    position: relative;
    margin: 10px;
    width: 20%;
    height: 90%;
    background: #ffffff;
    border: 2px solid #000000;
    display: inline-flex;
}

#content {
    position: relative;
    margin: 10px;
    width: 80%;
}

#top_bar {
    height: 15%;
    background: #ffffff;
    border: 2px solid #000000;
    white-space: pre-line;
    display: inline-flex;
    width: 100%;
    margin-bottom: 18px;
}

#documents {
    overflow-y: scroll;
    width: auto;
    height: 30%;
    background: #ffffff;
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
}

#draggable_line {
    width: 100%;
    height: 4px;
    background: #000000;
}

#draggable_line:hover {
    background: #628fc1;
    cursor: s-resize;
}

#current_chart {
    overflow-y: scroll;
    width: auto;
    height: 40%;
    background: #ffffff;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    margin-bottom: 18px;
}

#scroll_menu {
    margin-bottom: 15px;
}

#scroll_menu a {
    display: inline-block;
    border: 3px ridge darkorange;
    background: #ffffff;
    width: auto;
    padding: 3px;
    margin: 10px;
}